*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #099b83;
    margin: 0;
}

.fundo{
    width: 660px;
    margin: 0 auto;
    background-color: #0cc7a8;
}
.flex{
    display:flex;
}
.ciano{
    background-color: #0cbea1;
    padding: 80px;
    margin: 10px;
    flex: 1;
    display:inline-block;
}
p{
  text-align:left;
  margin-left:10px;
}
.alongar{
    padding-right: 300px;
}
.alongarCurto{
    padding-right: 150px;
}
.alongarMais{
    padding-right: 506px;
}
.esticarMais{
    padding-bottom: 406px;
}
.esticar{
    padding-bottom:200px;
}
.esticarMuito{
    padding-bottom: 300px;
}
